
<div class="panel-body">
  <%= simple_nested_form_for(@admins_news, url: @admins_news.new_record? ? admins_news_index_path  : admins_news_path(@admins_news), html: {class: "col-md-12", multipart: true}) do |f| %>
    <%= f.input :title, as: :string, input_html: {class: "form-control", autofocus: true} %><br/>
    <%= f.input :content, as: :ckeditor, input_html: { ckeditor: {toolbar: 'Full'}, class: "form-control" } %><br/>
    <%#= f.input :content, as: :text, input_html: { class: "form-control", rows: 10, cols: 5 } %><br/>
    <%= f.input :author_name, as: :string, input_html: {class: "form-control"} %><br/>
    <%= f.input :link, as: :string, input_html: {class: "form-control"} %><br/>
    <%#= f.input :pdf, as: :file, input_html: {class: "form-control", accept: 'application/pdf'} %>
    <%#= link_to "View PDF", @admins_news.pdf.url, class: "btn btn-default btn-xs", target: '_blank' if @admins_news.pdf.present? %>
    <%= avatar_input_for('news[poster_avatar]', @admins_news.poster_avatar.url, 'Primary Image') %>
    <p>News Images
      <%= f.fields_for :media_files do |ff| %><br/>
        <%= ff.hidden_field :id %>
        <%= ff.hidden_field :fileable_id, :value => @admins_news.id %>
        <%= ff.hidden_field :fileable_type, :value => @admins_news.class %>
        <%= image_tag ff.object.file.url, size: "150x150" if ff.object.file.present? %>
        <%= ff.input :file, label: "Secondary Image", input_html: { :class => "form-control mb5", :placeholder => "News Image" } unless ff.object.file.present? %><br/><br/>
        <%= ff.link_to_remove "Remove Image", class: "pull-left btn btn-xs btn-danger" %><br/><br/>
      <% end %>
      <%= f.link_to_add "Add additional Image", :media_files, :class => "pull-right btn btn-xs btn-primary" %><br/><br/>
    </p>
    <%= render '/admins/shared/other_fields', f: f %>
    <div class="form-actions">
      <%= f.submit "Publish", class: "btn btn-primary mt15" %>
      <%= link_to "Cancel", admins_news_index_path, class: "btn btn-defaut" %>
    </div>
  <% end %>
</div>
