
<div class="panel-body">
  <%= simple_form_for(@admins_news, url: @admins_news.new_record? ? admins_news_index_path  : admins_news_path(@admins_news), html: {class: "col-md-12", multipart: true}) do |f| %>
    <%= f.input :title, as: :string, input_html: {class: "form-control", autofocus: true} %><br/>
    <%= f.input :content, as: :text, input_html: { class: "form-control", rows: 10, cols: 5 } %><br/>
    <%= f.input :author_name, as: :string, input_html: {class: "form-control"} %><br/>
    <%= f.input :poster_avatar, as: :file, label: "Primary Image" %>
    <%= render '/admins/shared/other_fields', f: f %>
    <div class="form-actions">
      <%= f.submit "Publish", class: "btn btn-primary mt15" %>
    </div>
  <% end %>
</div>
