<% provide :title, "Listing News" %>
<section class="panel">
  <header class="panel-heading">Listing News</header>
  <div class="panel-body">
    <%= link_to 'Add New Article', new_admins_news_path, class: "btn btn-default mb15" %>
    <table class="table table-stripped" id="datatable-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Release Date</th>
          <th>Expiry Date</th>
          <th>Views </th>
          <th>Likes </th>
          <th>Comments </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @admins_news.each do |admins_news| %>
          <tr>
            <td><%= admins_news.title.titlecase %></td>
            <td><%= admins_news.print_release_date %></td>
            <td><%= admins_news.print_expiry_date %></td>
            <td><%= "3" %></td>
            <td><%= admins_news.votes_for.size %></td>
            <td><%= admins_news.comments.size %></td>
            <td><%= link_to 'View', admins_news_path(admins_news), class: "btn btn-xs btn-primary" %></td>
            <td><%= link_to 'Edit', edit_admins_news_path(admins_news), class: "btn btn-xs btn-warning" %></td>
            <td><%= link_to 'Delete', admins_news_path(admins_news), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%#= paginate @admins_news, :window => 2 %>
    <br/>
  </div>
</section>
