<% provide :title, "Listing News" %>
<section class="panel">
  <header class="panel-heading">Listing News</header>
  <div class="panel-body">
    <%= link_to 'Add New Article', new_admins_news_path, class: "btn btn-default" %>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Release Date</th>
          <th>Expiry Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @admins_news.each do |admins_news| %>
          <tr>
            <td><%= link_to admins_news.title, admins_news_path(admins_news) %></td>
            <td><%= admins_news.print_release_date %></td>
            <td><%= admins_news.print_expiry_date %></td>
            <td><%= link_to 'Edit', edit_admins_news_path(admins_news), class: "btn btn-xs btn-warning" %></td>
            <td><%= link_to 'Delete', admins_news_path(admins_news), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @admins_news, :window => 2 %>
    <br/>
  </div>
</section>
