<% provide :title, "News" %>
<section class="panel">
  <header class="panel-heading">
    <%= @admins_news.title.titlecase %>
    <span class="pull-right">
      <%= link_to "Edit News", edit_admins_news_path(@admins_news.id), class: "btn btn-warning btn-xs" %>
      <%= link_to 'Export CSV', admins_news_path(id: @admins_news.id, format: :csv), class: 'btn btn-default btn-xs' %>
    </span>
  </header>
  <div class="panel-body">
    <p>
      <%= image_tag @admins_news.poster_avatar.url(:header) %>
    </p>
    <hr/>
    <% @admins_news.media_files.each do |file| %>
    <p>
      <%= image_tag file.file.url(:header) %>
    </p>
    <hr/>
    <% end %>
    <p>
      <strong>Title:</strong><br/>
      <%= @admins_news.title %>
    </p>
    <hr/>
    <p>
      <strong>Description:</strong><br/>
      <%= @admins_news.content.html_safe %>
    </p>
    <hr/>
    <!-- <p>
      <strong>Link:</strong><br/>
      <%#= link_to "<i class='fa fa-link'></i> Visit Link".html_safe, @admins_news.link, target: '_blank', class: "btn btn-default" %>
    </p>
    <hr/> -->
    <% if @admins_news.pdf.present? %>
    <p>
      <strong>Pdf:</strong><br/>
      <%= link_to "<i class='fa fa-file-pdf-o'></i> Download Pdf".html_safe, @admins_news.pdf.url, target: '_blank', class: "btn btn-default" %>
    </p>
    <hr/>
    <% end %>
    <p>
      <strong>Positions:</strong><br/>
      <%= @admins_news.positions %>
    </p>
    <hr/>
    <p>
      <strong>Departments:</strong><br/>
      <%= @admins_news.departments %>
    </p>
    <hr/>
    <p>
      <strong>Direct Report:</strong><br/>
      <%= @admins_news.direct_report_users %>
    </p>
    <hr/>
    <p>
      <strong>Access Levels:</strong><br/>
      <%= @admins_news.access_levels %>
    </p>
    <hr/>
    <p>
      <strong>For All Members:</strong><br/>
      <%= @admins_news.send_to_all ? 'Yes' : 'No' %>
    </p>
    <hr/>
    <section class="panel panel-default  post-comments">
      <div class="panel-heading">
        <i class="fa fa-comments-o"></i>&nbsp;Comments
      </div>
        <div class="media p5">
        <% @news_comments.each do |comment| %>
          <a class="pull-left" href="<%= admins_user_path(comment.user.id) %>">
            <%= image_tag comment.user.avatar.url(:thumb), class: "media-object avatar avatar-sm", alt: "" %>
          </a>
          <div class="comment">
            <div class="comment-author h6 no-m">
              <a href="<%= admins_user_path(comment.user.id) %>"><b><%= comment.user.full_name %></b></a>
            </div>
            <p class="pull-right">
              <% if comment.allowed %>
                <%= link_to mark_not_allowed_admins_news_index_path(@admins_news.id, comment.id), class: "mr10", style: "color: green;", method: :post do %>
                  <i class="fa fa-check-circle mr5"></i>Allowed
                <% end %>
              <% else %>
                <%= link_to mark_not_allowed_admins_news_index_path(@admins_news.id, comment.id), class: "mr10", style: "color: red;", method: :post do %>
                  <i class="fa fa-ban mr5"></i>Hidden
                <% end %>
              <% end %>
            </p>
            <div class="comment-meta small"><%= comment.created_at.strftime("%b %Y, %H:%M %P") %></div>
            <p><%= comment.comment %></p>
            <hr>
          </div>
        <% end %>
        <%= render 'admins/shared/comment_form' %>
        <div class="text-center"><%= paginate @news_comments, :window => 2 %></div>
        </div>
    </section>
  </div>
</section>
