<% provide :title, "Listing Users" %>
<section class="panel">
  <header class="panel-heading">Listing Users</header>
  <div class="panel-body">
  <%= link_to 'New User', new_admins_user_path, class: "btn btn-default" %>
  <table class="table table-stripped" id="user-table" data-scoure="<%= admins_users_path(format: :json) %>">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Positions</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Access levels</th>
        <th>Departments</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @admins_users.each do |admins_user| %>
        <tr>
          <td><%= link_to admins_user.first_name, admins_user_path(admins_user) %></td>
          <td><%= admins_user.last_name %></td>
          <td><%= admins_user.positions %></td>
          <td><%= admins_user.phone %></td>
          <td><%= admins_user.email %></td>
          <td><%= admins_user.access_levels %></td>
          <td><%= admins_user.departments %></td>
          <td><%= link_to 'Edit', edit_admins_user_path(admins_user), class: "btn btn-xs btn-warning" %></td>
          <td><%= link_to 'Delete', admins_user_path(admins_user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @admins_users, :window => 2 %>
  <br>
</div>
</section>
