<% provide :title, "Listing Users" %>
<section class="panel">
  <header class="panel-heading">Listing Users</header>
  <div class="panel-body">
  <%= link_to 'Create New User', new_admins_user_path, class: "btn btn-default mb15" %>

  <table class="table table-stripped" id="datatable-table">
    <thead>
      <tr>
        <th>Profile Pic</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Positions</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Access levels</th>
        <th>Departments</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @admins_users.each do |admins_user| %>
        <tr>
          <td><%= image_tag admins_user.avatar.url(:thumb), size: "50x50" %></td>
          <td><%= admins_user.first_name %></td>
          <td><%= admins_user.last_name %></td>
          <td><%= admins_user.positions %></td>
          <td><%= admins_user.phone %></td>
          <td><%= admins_user.email %></td>
          <td><%= admins_user.access_levels %></td>
          <td><%= admins_user.departments %></td>
          <td><%= link_to 'View', admins_user_path(admins_user), class: "btn btn-xs btn-primary" %></td>
          <td><%= link_to 'Edit', edit_admins_user_path(admins_user), class: "btn btn-xs btn-warning" %></td>
          <td><%= link_to 'Delete', admins_user_path(admins_user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= paginate @admins_users, :window => 2 %>
  <br>
</div>
</section>

<section class="panel">
  <header class="panel-heading">Import Users</header>
  <div class="panel-body">
    <div class="col-md-12 mt15">
    <%= form_tag import_admins_users_path, method: :post,  multipart: true do %>
      <%= label_tag "Import users via CSV", nil, class: "form-label mr5" %>
      <div class="alert alert-info">
        Download sample For User Import CSV &nbsp; &nbsp; <%= link_to "Download CSV", "/user_import.csv", class: "btn btn-success btn-xs" %>
      </div>
      <%= file_field_tag "csv_file", { accept: %w(.csv).join(',') } %><br/>
      <div class="alert alert-danger">
        Download sample For User Delete CSV &nbsp; &nbsp;<%= link_to "Download CSV", "/user_delete.csv", class: "btn btn-success btn-xs" %>
      </div>
      <%= file_field_tag "csv_delete_file", { accept: %w(.csv).join(',') } %><br/>
      <%= submit_tag "Import", class: "btn mr5" %>
    <% end %>
    </div>
  </div>
</section>
