<% provide :title, "View User" %>
<section class="panel">
  <header class="panel-heading">View User</header>
  <div class="panel-body">
  <p>
    <strong>First name:</strong>
    <%= @admins_user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @admins_user.last_name %>
  </p>

  <p>
    <strong>Position ids:</strong>
    <%= @admins_user.positions %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @admins_user.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @admins_user.email %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= @admins_user.postal_code %>
  </p>

  <p>
    <strong>Access levels</strong>
    <%= @admins_user.access_levels %>
  </p>

  <p>
    <strong>Departments:</strong>
    <%= @admins_user.departments %>
  </p>

  <p>
    <strong>Practice code</strong>
    <%= @admins_user.practise_codes %>
  </p>

  <p>
    <strong>Direct Report</strong>
    <%= @admins_user.direct_report_users %>
  </p>

  <%= link_to 'Edit', edit_admins_user_path(@admins_user) %> |
  <%= link_to 'Back', admins_users_path %>
<div>
</section>
