<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @admins_user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @admins_user.last_name %>
</p>

<p>
  <strong>Position ids:</strong>
  <%= @admins_user.position_ids %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admins_user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admins_user.email %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @admins_user.postal_code %>
</p>

<p>
  <strong>Access level ids:</strong>
  <%= @admins_user.access_level_ids %>
</p>

<p>
  <strong>Department ids:</strong>
  <%= @admins_user.department_ids %>
</p>

<p>
  <strong>Practise code ids:</strong>
  <%= @admins_user.practise_code_ids %>
</p>

<p>
  <strong>Direct report ids:</strong>
  <%= @admins_user.direct_report_ids %>
</p>

<%= link_to 'Edit', edit_admins_user_path(@admins_user) %> |
<%= link_to 'Back', admins_users_path %>
