<span class="left_panel">
  <div class="table">
    <%= render partial: 'index', locals: {index_arr: ApiIndexRenderer.dental_partner_api_index } %>
  </div>
</span>
<span class='right_panel'>
    Example <br>
    email: test@yopmail.com<br>
    password: test123456<br>
</span>

  <%= render "user_profile" %>
  <%= render "news" %>
  <%= render "forums" %>
  <%= render "surveys" %>
  <%= render "messages" %>
</span>
