<span class="left_panel">
  <div class="table">
    <%= render partial: 'index', locals: {index_arr: ApiIndexRenderer.dental_partner_api_index } %>
  </div>
</span>
<span class='right_panel'>
    Example <br>
    email: test@yopmail.com<br>
    password: test123456<br>
</span>



<!-- Login Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Login',
        link_href: 'login',
        link_method: 'POST',
        original_link: api_dental_partner_login_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 },
          {name: 'password', description: 'Password', required: 1},
          {name: 'device_id', description: 'Device Id', required: 1},
          {name: 'device_type', description: 'Device type', required: 1}

        ],
        options: {}} %>

<!-- Change Password Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Change Password',
        link_href: 'change_password',
        link_method: 'POST',
        original_link: api_dental_partner_change_password_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'user[current_password]', description: 'Current Password', required: 1 },
          {name: 'user[password]', description: 'New Password', required: 1 },
          {name: 'user[password_confirmation]', description: 'New Password', required: 1 }


        ],
        options: {}} %>

 <!-- Forgot Password Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Forgot Password Api',
        link_href: 'forgot_password',
        link_method: 'POST',
        original_link: api_dental_partner_forgot_password_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 }
        ],
        options: {}} %>


 <!-- News List Api -->
  <%= render partial: 'api', locals: {
        link_name: 'List News',
        link_href: 'news_index',
        link_method: 'Get',
        original_link: api_dental_partner_news_index_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }
               ],
        options: {}} %>

  <!-- Show news Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Show News',
        link_href: 'news_show',
        link_method: 'Get',
        original_link: "/api/dental_partner/news/",
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'id', description: 'News id', required: 1 }
               ],
          options: {}} %>

  <!-- Create Comment Api -->
   <%= render partial: 'api', locals: {
         link_name: 'Create Comment',
         link_href: 'create_comment',
         link_method: 'Post',
         original_link: api_dental_partner_news_comments_path,
         parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'id', description: 'News id', required: 1 },
          {name: 'comment[title]', description: 'Comment title', required: 1 },
          {name: 'comment[comment]', description: 'Comment', required: 1 }

                ],
            options: {}} %>

<!-- Logout -->
  <%= render partial: 'api', locals: {
        link_name: 'Logout',
        link_href: 'logout',
        link_method: 'GET',
        original_link: api_dental_partner_logout_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }

        ],
        options: {}} %>

  <!-- News List Api -->
  <%= render partial: 'api', locals: {
         link_name: 'List Forum',
         link_href: 'forums_index',
         link_method: 'Get',
         original_link: api_dental_partner_forums_path,
         parameters: [
           {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }
                ],
         options: {}} %>

  <!-- Show news Api -->
  <%= render partial: 'api', locals: {
         link_name: 'Show Forum',
         link_href: 'forums_show',
         link_method: 'Get',
         original_link: "/api/dental_partner/forums/",
         parameters: [
           {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
           {name: 'id', description: 'Forum id', required: 1 }
                ],
           options: {}} %>

 <!-- Create Comment Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Create Comment for forum',
        link_href: 'create_comment_forum',
        link_method: 'Post',
        original_link: api_dental_partner_forums_comments_path,
        parameters: [
         {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
         {name: 'id', description: 'Forum id', required: 1 },
         {name: 'comment[title]', description: 'Comment title', required: 1 },
         {name: 'comment[comment]', description: 'Comment', required: 1 }

               ],
           options: {}} %>
</span>
