<div class="panel-body">
  <%= simple_form_for(@contact, url: @contact.new_record? ? admins_contacts_path : admins_contact_path(@contact.id), html: {class: 'col-md-12'}) do |f| %>
    <%= f.input :first_name, input_html: {class: 'input form-control'} %><br/>
    <%= f.input :last_name, input_html: {class: 'input form-control'} %><br/>
    <%= f.input :email, input_html: {class: 'input form-control', type: 'email'} %><br/>
    <%= f.input :phone, input_html: {class: 'input form-control'} %><br/>
    <div class="panel panel-info">
      <div class="panel-heading">Select Recipients</div>
      <div class="panel-body">
        <%= f.input :position_ids, label: "Select Position" do %><br/>
          <%= f.select :position_ids, @positions, {include_blank: false}, {:class => "chosen-select", "data-placeholder": "Select Positions", style: "width: 300px;", multiple: true} %>
        <% end %><br/>
        <%= f.input :department_ids, label: "Select Departments" do %><br/>
          <%= f.select :department_ids, @departments, {include_blank: false}, {:class => "chosen-select", "data-placeholder": "Select Departments", style: "width: 300px;", multiple: true} %>
        <% end %><br/>
      </div>
    </div>
    <%= f.button :submit, "Add Contact", class: 'btn btn-primary' %>
  <% end %>
</div>
