<%= f.hidden_field :id %>
<%= f.hidden_field :survey_id, :value => @survey.id %>
<%= f.input :question, input_html: { :class => "form-control question-focus", :placeholder => "Question" } %><br/>
<label class="form-label">Required</label>
<%= f.check_box :compulsory, label: false, input_html: { class: "pull-right" } %><br/><br/>
<%= f.fields_for :answers do |question_answer_form| %>
  <div style="padding-left: 15px;">
    <%= question_answer_form.input :option, input_html: { :class => "form-control", :placeholder => "Answer" } %><br/>
    <%= question_answer_form.link_to_remove "Remove", class: "btn btn-xs btn-danger" %><br/><br/>
  </div>
<% end %>
<%= f.link_to_add "Add a Answer", :answers, :class => "pull-right btn btn-xs btn-primary" %><br/><br/>
<%= f.link_to_remove "Remove Question", class: "pull-left btn btn-xs btn-danger" %><br/><br/>
