<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% provide :title, "Survey" %>
<section class="panel">
  <header class="panel-heading">
    <%= @survey.title.titlecase %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_admins_survey_path(@survey.id), class: 'btn btn-warning btn-xs' %>
    </span>
  </header>
  <div class="panel-body">
    <p>
      <strong>Description:</strong><br/>
      <%= @survey.description.html_safe %><br/>
    </p><hr/>

    <p>
      <strong>Open till:</strong><br/>
      <%= @survey.print_release_date %> - <%= @survey.print_expiry_date %>
    </p><hr/>

    <p>
      <strong>Positions</strong><br/>
      <%= @survey.positions %>
    </p><hr/>
    <p>
      <strong>Access levels</strong><br/>
      <%= @survey.access_levels %>
    </p><hr/>

    <p>
      <strong>Practice code</strong><br/>
      <%= @survey.practise_codes %>
    </p><hr/>

    <p>
      <strong>Direct Reports</strong><br/>
      <%= @survey.direct_report_users %>
    </p><hr/>

    <p>
      <strong>Departments:</strong><br/>
      <%= @survey.departments %>
    </p><hr/>

    <div class="cf nestable-lists">
      <div class="dd" id="nestable">
        <ol class="dd-list">
          <% @questions.each_with_index do |question, index| %>
          <%= "Question - #{index + 1}" %>
          <li class="dd-item">
              <div class="dd-handle dd3-handle">Drag</div>
              <div class="dd-handle" style="padding-left: 45px;">
                <span style="color: red;"><%= '*' if question.compulsory %></span>
                <%= question.question.titlecase %>
              </div>
              <% question.answers.each do |answer| %>
                <ol class="dd-list">
                  <li class="dd-item">
                    <div class="dd-handle">
                      <%= answer.option %>
                    </div>
                  </li>
                </ol>
              <% end %>
          </li>
          <% data = question.response_details.answer_count %>
          <%= pie_chart data if data.present? %>
          <br/>&nbsp;
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</section>
