<div class="panel-body">
  <%= simple_form_for(@forum, url: @forum.new_record? ? admins_forums_path : admins_forum_path(@forum), html: { class: "col-md-12", multipart: true }) do |f| %>
    <%= f.input :title, input_html: { class: "form-control", autofocus: true } %><br/>
    <%= f.input :subject, as: :text, input_html: { class: "form-control", rows: 10, cols: 5 } %><br/>
    <%= avatar_input_for('forum[poster_avatar]', @forum.poster_avatar.url, 'Forum Image') %><br/>
    <%= render '/admins/shared/other_fields', f: f %>
    <%= f.submit "Add New Forum", class: "btn btn-primary" %>
  <% end %>
</div>
