<div class="panel-body">
  <%= simple_form_for(@forum, url: @forum.new_record? ? admins_forums_path : admins_forum_path(@forum), html: { class: "col-md-12" }) do |f| %>
    <%= f.input :title, input_html: { class: "form-control", autofocus: true } %><br/>
    <%= f.input :subject, as: :ckeditor, input_html: { ckeditor: {toolbar: 'Full'}, class: "form-control" } %><br/>
    <%= render '/admins/shared/other_fields', f: f %>
    <%= f.submit "Add Forum", class: "btn btn-primary" %>
  <% end %>
</div>
