<% provide :title, "Forum" %>
<section class="panel">
  <header class="panel-heading">
    <%= @forum.title.titlecase %>
    <span class="pull-right">
      <%= link_to "Edit Forum", edit_admins_forum_path(@forum.id), class: "btn btn-warning btn-xs" %>
    </span>
  </header>
  <div class="panel-body">
    <p>
      <%= image_tag @forum.poster_avatar.url(:header), size:"1100x300" %>
    </p><hr/>

    <p>
      <strong>Title:</strong><br/>
      <%= @forum.title %>
    </p><hr/>

    <p>
      <strong>Subject:</strong><br/>
      <%= @forum.subject.html_safe %>
    </p><br/>

    <p>
      <strong>Expiry date:</strong><br/>
      <%= @forum.expiry_date %>
    </p><hr/>

    <p>
      <strong>Release date:</strong><br/>
      <%= @forum.release_date %>
    </p><hr/>

    <p>
      <strong>Position ids:</strong><br/>
      <%= @forum.positions %>
    </p><hr/>

    <p>
      <strong>Department ids:</strong><br/>
      <%= @forum.departments %>
    </p><hr/>

    <p>
      <strong>Practice code ids:</strong><br/>
      <%= @forum.practise_codes %>
    </p><hr/>

    <p>
      <strong>Direct Report:</strong><br/>
      <%= @forum.direct_report_users %>
    </p><hr/>

    <p>
      <strong>Access level ids:</strong><br/>
      <%= @forum.access_levels %>
    </p><hr/>
    <section class="panel panel-default  post-comments">
      <div class="panel-heading">
        Comments
      </div>
        <div class="media p5">
        <% @forum_comments.each do |comment| %>
          <a class="pull-left" href="<%= admins_user_path(comment.user.id) %>">
            <%= image_tag comment.user.avatar.url(:thumb), class: "media-object avatar avatar-sm", alt: "" %>
          </a>
          <div class="comment">
            <div class="comment-author h6 no-m">
              <a href="<%= admins_user_path(comment.user.id) %>"><b><%= comment.user.full_name %></b></a>
              <p class="pull-right">
              <% if comment.allowed %>
                <%= link_to mark_not_allowed_admins_forums_path(@forum.id, comment.id), class: "mr10", style: "color: green;", method: :post do %>
                  <i class="fa fa-check-circle mr5"></i>Allowed
                <% end %>
              <% else %>
                <%= link_to mark_not_allowed_admins_forums_path(@forum.id, comment.id), class: "mr10", style: "color: red;", method: :post do %>
                  <i class="fa fa-ban mr5"></i>Hidden
                <% end %>
              <% end %>
              </p>
            </div>
            <div class="comment-meta small"><%= comment.created_at.strftime("%b %Y, %H:%M %P") %></div>
            <p><%= comment.comment %></p>
            <hr>
          </div>
        <% end %>
        <div class="text-center"><%= paginate @forum_comments, :window => 2 %></div>
        </div>
    </section>
  </div>
</section>
