<header class="header header-fixed navbar">
  <div class="brand">
    <a href="javascript:;" class="ti-menu off-left visible-xs" data-toggle="offscreen" data-move="ltr"></a>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%#= image_tag "logo.png", alt: "Maven Dental" %>
      <span class="heading-font">Maven Dental</span>
    <% end %>
  </div>

  <ul class="nav navbar-nav">
    <li class="hidden-xs">
      <a href="javascript:;" class="toggle-sidebar">
        <i class="ti-menu"></i>
      </a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <%= render "layouts/application/notifications" %>
    <li class="off-right">
      <a href="javascript:;" data-toggle="dropdown">
        <%= image_tag current_user.avatar.url, class: "header-avatar img-circle", alt: "user", title: "user", style: "float: none; height: 35px; width: 35px;" %>
        <span class="hidden-xs ml10">Hi, <%= current_user.full_name || "Alana" %></span>
        <i class="ti-angle-down ti-caret hidden-xs"></i>
      </a>
      <ul class="dropdown-menu animated fadeInRight">
        <li><%= link_to "<i class='fa fa-cogs'></i> Settings".html_safe, edit_user_registration_path %></li>
        <li><%= link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, destroy_user_session_path, method: "delete" %></li>
      </ul>
    </li>
  </ul>
</header>
