<li class="notifications dropdown">
  <%= link_to notification_badge_admins_users_path, "data-toggle": "dropdown", id: "bell", remote: true, method: :post do %>
    <i class="ti-bell"></i>
    <% if @new_notifications.present? %>
      <div class="badge badge-top bg-danger animated flash" id="nb">
        <span><%= @new_notifications.count %></span>
      </div>
    <% end %>
  <% end %>
  <div class="dropdown-menu animated fadeInLeft">
    <div class="panel panel-default no-m">
      <div class="panel-heading small"><b>Notifications</b>
    </div>
      <ul class="list-group">
        <% (@notifications || []).first(5).each do |notification| %>
        <% if notification.trackable.present? && notification.owner.present? %>
          <% if notification.key.eql?("commented") %>
            <li class="list-group-item">
              <%= link_to "/admins/#{notification.trackable_type.pluralize.downcase}/#{notification.trackable_id}" do %>
                <span class="pull-left mt5 mr15">
                  <%= image_tag(notification.owner.avatar.url, class: "avatar avatar-sm img-circle") rescue "<p>No image</p>" %>
                </span>
                <div class="m-body">
                  <div class="">
                    <small><b><%= notification.owner.full_name rescue nil %></b></small>
                  </div>
                  <span> commented on <%= notification.trackable.title.titlecase %></span>
                  <span class="time small"><%= notification.created_at.strftime("%d %b, %Y at %I:%M %P") %></span>
                </div>
              <% end %>
            </li>
          <% else %>
            <li class="list-group-item">
              <%= link_to "/admins/#{notification.trackable_type.pluralize.downcase}/#{notification.trackable.parent_id || notification.trackable.id}" do %>
                <span class="pull-left mt5 mr15">
                  <%= image_tag notification.owner.avatar.url, class: "avatar avatar-sm img-circle" %>
                </span>
                <div class="m-body">
                  <div class="">
                    <small><b><%= notification.owner.full_name %></b></small>
                  </div>
                  <span> messaged <%= notification.trackable.message_body.first(10) %></span>
                  <span class="time small"><%= notification.created_at.strftime("%d %b, %Y at %I:%M %P") %></span>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <% end %>
      </ul>
      <div class="panel-footer">
        <a href="<%= notifications_admins_users_path %>">See all Notifications</a>
      </div>
    </div>
  </div>
</li>
