<% provide :title, "Message" %>
<section class="panel">
  <div class="panel-heading"><header><%= @message.receiver.full_name %></header></div>
  <div class="panel-body">
    <div class="col-md-12">
      <p class="<%= current_user.id == @message.sender_id ? 'pull-right' : 'pull-left' %> col-md-12">
        <%= @message.message_body %>
      </p>
      <% @message.child_messages.each do |message| %>
        <p class="<%= current_user.id == message.sender_id ? 'pull-right' : 'pull-left' %> col-md-12">
          <%= message.message_body %>
        </p>
      <% end %>
    </div>
    <%= simple_form_for(@reply, url: reply_admins_messages_path, html: {class: "col-md-12", multipart: true}) do |f| %>
      <%= f.input :message_body, as: :text, label: false, input_html: { class: "form-control mt15", rows: 5, cols: 2, placeholder: "Message Text" } %><br/>
      <%= f.input :sender_id, as: :hidden, input_html: {class: "form-control", value: current_user.id} %>
      <%= f.input :receiver_id, as: :hidden, input_html: {class: "form-control", value: @message.receiver_id} %>
      <%= f.input :parent_id, as: :hidden, input_html: {class: "form-control", value: @message.id} %>
      <div class="form-actions">
        <%= f.submit "Reply Message", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
